<a href="https://colab.research.google.com/github/mmeeran/Python/blob/main/Python_Class_prework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Google Colab Notes:
https://research.google.com/colaboratory/faq.html

https://colab.research.google.com/notebooks/io.ipynb

External data: Local Files, Drive, Sheets, and Cloud Storage - Colaboratory (google.com)

### List Comprehensions:
https://towardsdatascience.com/how-list-comprehensions-can-help-your-code-look-better-and-run-smoother-3cf8f87172ae

### List Comprehension, Conditional, and Looping Statements (Quick Code-Python)
https://medium.com/geekculture/list-comprehension-conditional-and-looping-statements-in-python-16db4ea9e58b

List Comprehension, Conditional, and Looping Statements (Quick Code-Python) | by Shreedhar Vellayaraj | Geek Culture | Medium

In [ ]:
print('Allahu Akbar')

Allahu Akbar

# Python

In [ ]:
a = 10
b = 5.1
add = a + b

print(type(add))

<class 'float'>

In [ ]:
#checking if it is true
5 == (3 + 2)

True

In [ ]:

a = 3
print(a + (33))

36

In [ ]:
v = 10
w = 25
x = 70
y = 2
z = (v + w) * (x / y)

print(z)
print(type(z))

1225.0
<class 'float'>

In [ ]:

celsius = 35
fah = 1.8 * celsius + 32
print("Temperature in Fahrenheit =", fah)

Temperature in Fahrenheit = 95.0

In [ ]:

repeated_list = [2] * 4
print(repeated_list)

[2, 2, 2, 2]

In [ ]:

fruit = ["apple","orange","grapes","watermelon"]
print(fruit[2])
print(fruit[1])

grapes
orange

In [ ]:
alphabet = ['a','b','c']
for i in alphabet:
 print(i)

a
b
c

In [ ]:

number = [1, 12, 24, 36, 11, 20,50]
for i in number:
 sq = i * i
 print(sq)

1
144
576
1296
121
400
2500

In [ ]:
color = ['white','red', 'blue', 'green','blue','yellow', 'black']
color.pop(5)

'yellow'

In [ ]:

color = ['white','red', 'blue', 'green','blue','yellow', 'black']
len(color)

7

In [ ]:

car = { "brand" : "Audi","model" : "Q2", "year" : 1980}
print(car)

{'brand': 'Audi', 'model': 'Q2', 'year': 1980}

In [ ]:

car = { "brand" : "Audi","model" : "Q2", "year" : 1980}
print(car)
car["year"] = 2019
print(car)

{'brand': 'Audi', 'model': 'Q2', 'year': 1980}
{'brand': 'Audi', 'model': 'Q2', 'year': 2019}

In [ ]:

a = 56
if a == 10:
 print("Hello")
else:
 print("Good Bye")

Good Bye

In [ ]:

a = 2020
if a % 2 == 0:
 print("Number is Even")
else:
 print("Number is Odd")

Number is Even

In [ ]:

length = 5
breadth = 10
# find the area and perimeter of the rectangle
Area = length * breadth
Perimeter = 2 * (length + breadth)
# check whether the area of the rectangle is greater than the perimeter of the rectangle
if Area > Perimeter:
 print("Area of the rectangle is greater than the Perimeter of the rectangle")
else:
 print("Perimeter of the rectangle is greater than the Area of the rectangle")

Area of the rectangle is greater than the Perimeter of the rectangle

In [ ]:

m1 = 72
m2 = 85
m3 = 96
m4 = 42
m5 = 95
avg = (m1 + m2 + m3 + m4 + m5) / 5
print("Average=", avg)
if avg > 90:
 print("Grade A")
elif avg > 80:
 print("Grade B")
elif avg > 70:
 print("Grade C")
elif avg > 60:
 print("Grade D")
elif avg > 50:
 print("Grade E")
else:
 print("Fail")

Average= 78.0
Grade C

In [ ]:

a = "I am a Data Scientist"
if "Data" in a:
 print("It is present")
else:
 print(False)

It is present

In [ ]:
a = -99
if a > 0:
 print("Number is Positive")
else:
 print("Number is negative")

Number is negative

In [ ]:

age = int(input('Enter your age: '))
if age < 18:
 print("Not Eligible for work")
elif age >= 18 and age <= 60:
 print("Eligible to work")
else:
 print("Too old to work as per the government rules")

Enter your age: 77
Too old to work as per the government rules

In [ ]:

first = 25
second = 34
third = 45
if first >= second and first >= third:
 print(first)
elif second >= first and second >= third:
 print(second)
elif third >= first and third >= second:
 print(third)
else:
 print("All of the values are equal")

45

In [ ]:

for i in range(-10, 0, 1):
 print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:

n = 8
for i in range(1, 11):
 print("{} ^ {} =".format(n, i), n**i)

8 ^ 1 = 8
8 ^ 2 = 64
8 ^ 3 = 512
8 ^ 4 = 4096
8 ^ 5 = 32768
8 ^ 6 = 262144
8 ^ 7 = 2097152
8 ^ 8 = 16777216
8 ^ 9 = 134217728
8 ^ 10 = 1073741824

In [ ]:

for i in range(1, 50):
 if(i % 3 == 0 and i % 5 == 0):
     print("FizzBuzz => " + str(i))
 elif (i % 3 == 0):
     print("Fizz => " + str(i))
 elif(i % 5 == 0):
     print("Buzz => " + str(i))

Fizz => 3
Buzz => 5
Fizz => 6
Fizz => 9
Buzz => 10
Fizz => 12
FizzBuzz => 15
Fizz => 18
Buzz => 20
Fizz => 21
Fizz => 24
Buzz => 25
Fizz => 27
FizzBuzz => 30
Fizz => 33
Buzz => 35
Fizz => 36
Fizz => 39
Buzz => 40
Fizz => 42
FizzBuzz => 45
Fizz => 48

In [ ]:

for i in range(202, 321):
    if i % 7 == 0 and i % 5 != 0:
        print(i)

203
217
224
231
238
252
259
266
273
287
294
301
308

In [ ]:

st = "Data Science"
count = 0
for i in st:
 if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
     count = count + 1
print(count)

5

In [ ]:

a = "Data Science"
for i in range(0, 5):
 print(a)

Data Science
Data Science
Data Science
Data Science
Data Science

In [ ]:

def mths(a, b):
 print(a + b)
 print(a - b)
 print(a * b)
 print(a // b)

mths(9, 5)

14
4
45
1

In [ ]:

def sq():
 for i in range(1, 11):
     print(i ** 2)

sq()

1
4
9
16
25
36
49
64
81
100

In [ ]:

function = lambda x: x * x + 5

function (1)

6

In [ ]:

def power(a, b):
 return a ** b
power(7,2)

49

In [ ]:

def sq(base, height):
 return 0.5 * base * height
sq(5, 10)

25.0

In [ ]:

def greet(country):
 print("I am from", country)
greet("Sweden")

I am from Sweden

In [ ]:

def convert(celsius):
 fah = 1.8 * celsius + 32
 print("Temperature in Fahrenheit =", fah)
convert(20)

Temperature in Fahrenheit = 68.0